{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ .Params.heading | safeHTML }}
        </h1>
      </div>
      <!-- <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4>{{ .Params.form_heading }}</h4>
          <form id="contact-form" action="{{ .Site.Params.fabform }}" method="post">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" name="first-name" id="first-name" placeholder="{{ .Site.Params.contactForm.placeholder_first_name }}" required>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="last-name" id="last-name" placeholder="{{ .Site.Params.contactForm.placeholder_last_name }}" required>
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="{{ .Site.Params.contactForm.placeholder_email }}" required>
              </div>
              <div class="col-lg-6">
                <div class="select-wrapper">
                  <select class="form-control" id="projectType" name="project-type" required>
                    <option value="" selected disabled hidden>{{ .Site.Params.contactForm.placeholder_project_type }}</option>
                    {{ range .Site.Params.contactForm.projectType }}
                    <option value="{{ .value }}">{{ .title }}</option>
                    {{ end }}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea class="form-control" id="aboutProject" name="about-project" rows="6" placeholder="{{ .Site.Params.contactForm.placeholder_about_the_project }}"></textarea>
              </div>
              <div class="col-12">
                <button formtarget="_blank" type="submit" class="btn btn-primary" id="contact-form-button">
                  <span class="btn-area">
                    <span data-text="{{ .Site.Params.contactForm.send_message }}">
                      {{ .Site.Params.contactForm.send_message }}
                    </span>
                  </span>
                </button>
              </div>
              <p id="contact-form-status"></p>
            </div>
          </form>
          <p class="contact-form-generator">
          <a href="https://fabform.io/" target="_blank">form backend service</a>
          </p>
        </div>
      </div>
      -->
      <div class="col-lg-6 ml-auto">
      <h4>Why become a member?</h4>
      <p>
        As a LuxDoc member, you support the activities of LuxDoc on all levels, from operating costs to events.
        Furthermore, you will get some special discounts on our various events.
        Finally, membership allows you to vote at the general assembly and to join the committee and become active.
      </p>
      <p>
        If you wish to become a member of LuxDoc, please fill in the form below.
      </p>
      <p>
        If you have any questions regarding the membership, please send us an email : <a href="mailto:luxdoc@uni.lu">luxdoc@uni.lu</a>
      </p>
      <p>
        Please pay your registration fee (5 € / year) to
        <br/>
        Account holder: LUXDOC a.s.b.l.
        <br/>
        IBAN: LU77 0019 3755 2368 0000
        <br/>
        SWIFT CODE / BIC: BCEELULL
      </p>
      
      <!-- Modify the form below by accessing with the LuxDoc credentials the following website: https://app.youform.com/dashboard -->
        <button class="btn btn-secondary" data-youform-open="0dqkcpyd" data-youform-position="center">
          <span class="btn-area">
            <span data-text="Register">
              Register
            </span>
          </span>
        </button>
        
        <div>
          <div>
            Scan the Pyconiq QR code to process the payment
          </div>

          <div>
            <a href="{{ .Site.BaseURL }}">
              <img style="max-width: 80%; height: auto;" src="{{ .Site.Params.payconiq_img | absURL }}" alt="payconiq-qrcode">
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <br>
        <h3>Other type of Enquiries?</h3>
        <br>
        <p>Have a question, concern, or an idea you'd love to bring to life? We're here to listen! Whether you need clarification, face a challenge, or have a project proposal that aligns with our mission, don’t hesitate to reach out. Together, we can make a difference!</p>
        <!-- Modify the form below by accessing with the LuxDoc credentials the following website: https://app.youform.com/dashboard -->      
        <button class="btn btn-secondary" data-youform-open="hpjkm1lr" data-youform-position="center">
          <span class="btn-area">
            <span data-text="Open Form">
              Open Form
            </span>
          </span>
        </button>
      </div>
      <br>
      
    
      {{ "<!-- YouForm widget script -->" | safeHTML }}
      <script src="https://app.youform.com/widgets/widget.js" defer></script>
    
    </div>
  </div>
</section>
{{ end }}
